* {
    margin: 0;
    padding: 0;
  }



body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/assets/Castrol-Team_BG_sm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section{
    padding-top: 3vw;
    padding-bottom: 3vw;
}
.tabs .indicator{
    background-color: #1d7e1a;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
    border-top-right-radius: 1ch;
    border-top-left-radius: 1ch;
    background: #29c2241e;
}

.rangeslider {
    display: inline-block;
    width: 70%;
}
  
.output {
    display: inline-block;
    font-size: 1.8em;
    line-height: 1;
    padding-left: 10px;
}


.btn, .btn-large, .btn-small {
    margin: 2ch;
    text-decoration: none;
    color: #fff;
    background-color: #169716;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.BG {
    background-image: url("../src/assets/Castrol-Team_BG_sm.jpg");
    background-color: white;
    background-blend-mode: multiply;
}

.pText {
    color: white !important;
    font-weight: bolder;
    text-shadow: 1px 1px 3px black;
}

.tText {
    line-height: 1ch !important;
    font-weight: bold;
}

.sidenav {
    background-image: url("../src/assets/Castrol-Team_BG_sm.jpg");
    background-color: #169716;
    padding: 13ch;
}

.nPad {
    padding: 9ch;
}

.logoSize > img {
    width: 20vw !important;
    margin-left: 11em;
    margin-top: -2.5em;
}

.sLogoSize > img {
    position: relative;
    width: 50vw !important;
    margin-left: 10em;
    margin-top: -6.7em;
}

.intoCon {
    margin-top: 1em !important;
}

.pos {
    position: relative !important;
}

td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    font-size: medium;
}

.row {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.indigo-text.text-darken-4 {
    color: green!important;
}

.tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 100%;
    background-color: unset;
    margin: 0 auto;
    white-space: unset;
}

.smcastLogo {
    height: 33vw;
}

.sidenav li > a {
    color: white;
    text-shadow: 1px 1px 3px black;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 33px;
}

input[type=range], input[type=range]+.thumb {
    cursor: grab !important;
}

 /* Media Queries */
 @media only screen and (min-width: 1200px) {
    .logoSize > img {
        width: 20vw !important;
        margin-left: 25em;
        margin-top: -4.5em;
    }
 }

@media only screen and (min-width: 768px) {
    .sLogoSize > img {
        position: relative;
        width: 30vw !important;
        margin-left: 29em;
        margin-top: -8em;
    }
} 


@media only screen and (min-width: 2560px) {

    .logoSize > img {
        width: 10vw !important;
        margin-left: 40em;
        margin-top: -3.5em;
    }

    .BG {
        background-image: url(/static/media/Castrol-Team_BG_sm.6bcd8983.jpg);
        background-repeat: no-repeat;
        background-color: white;
        background-blend-mode: hard-light;
        background-size: 100vh;
    }
}

@media only screen and (max-width: 992px) {
    .tabs .tab a {
        padding: 0 2px;
    }
}